body{
    background-color: gainsboro;
}

.flex-conteiner{
    display: flex;
    flex-direction: column;
    background-color:rgb(131, 131, 131);
    text-align: center;
    border: 2px solid black;
}

#d1{
    
}