#d1{
    background-color: bisque;
    border:5px solid blue;

}
.c{
    height: 200px;
    width: 200px ;
}

#h01{
    text-align: center;
    color:darkgreen;
    position: absolute;
    bottom: 84%;
    right: 46%;
    text
}
.java{
    height: 200px;
    width: 200px ;  
    position: absolute;
    bottom: 740px;
    right: 0px;
    
}

#d2{
    background-color: lightskyblue;
    
}

h1{
    text-align: center;
}
p{
    text-align:center;
    color: indigo;
    font-size: 20pt;
    font-family: Comic Sans MS ;
    
}

#L1{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 10px;
    right: 1100px;
}
#L3{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 10px;
    right: 850px;
}
#L2{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 10px;
    right: 600px;
}

#F1{
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: -580px;
    right: 1000px;
}

#F2{
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: -580px;
    right: 500px;
}
#dU{
    background-color: bisque;
    
    }
    .H{
        height: 200px;
        width: 200px ;
    }
    .css{
        height: 200px;
        width: 200px ;
        position: absolute;
        bottom: -1040px;
        right: 0px;
    }

.meio {
    text-align: center;
    color:darkgreen;
    position: absolute;
    bottom: -1000px;
    right: 40%;
}
.site{
    background-color: yellow;
    padding: 10px;
    
  }