.flex-container{
    display: flex;
    flex-direction:row;
    justify-content:center;
}
.flex-container div{
    
        background-color: rgb(139, 10, 139);
        padding: 20px;
        height: 90px;
        margin: 1px
    }

P{
    color: white;   
}

#p1{
    font-size: 10px;
}
.p2{
    color:black;
}
#d1{
    background-color: white;
    padding: 10px;
        margin: 1px
}

.flex{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin: 10px;
}

#f{
    display: flex;
    justify-content:center;
}   

#F2{
    display: flex;
    flex-direction:row;
    justify-content:center;
}

#d2{
    
    flex-direction:column;
}

#d3{
    display: flex;
    justify-content:center;
}