
body{
    background-color:rgb(39, 156, 177);

}

img{
    height: 300px;
    width: 400px;
    

}

a:hover{
    color:rgb(236, 18, 18)
}

a{
    color:white
}

.links{border-style: solid;
    margin: 10px;
    background-color: rgb(49, 189, 49);
    height: 70px;
    width: 400px;
}

.div01{
        background-color: green;
        position: fixed;
        bottom: 0px;
        right: 0px
}

.solid{border-style: solid;
    background-color: azure;
   
}