<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo FOR</title>
        <meta charset="UTF-8">
        <link href="estilo.css" rel="stylesheet">
    </head>
    <body>
        <div class="flex-conteiner">
        <h1><%= status %></h1></h1>
    </div>
    </body>
</html>