<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo FOR</title>
        <meta charset="UTF-8">
        <link href="estilo.css" rel="stylesheet">
    </head>
    <body>
        <div class="flex-conteiner">
        <h1> Exeplo de FOR</h1>
    </div>
    <div id="d1">
            <% for (var i =1; i <= valor;  i++ ) { %>
               <div id="d2">
                   <%= i %>
               </div>
            <% } %>
        </div>
            </body>
</html>