<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">
        <link href="LAB/LAB10/carros.css" rel="stylesheet">
    </head>
    <body>
        <div class="flex-conteiner">
        <h1><%= status %></h1>
    </div>
    </body>
</html>