<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">
        <link href="LAB/LAB10/carros.css" rel="stylesheet">
    </head>
    <body>
        <div class="flex-conteiner">
        <h1><%= resposta %></h1>
    </div>
    <div id="d2">
        <a href="LAB/LAB10/listagem_carros.html">Ver a lista de Carros</a>
        <a href="LAB/LAB10/gerenciarCarros.html">Gerenciar seus Carros</a>
    </div>
    </body>
</html>