<!DOCTYPE html>
<html>
<head>
    <title>Postado</title>
    <meta charset="utf-8">
    <link href="/styles/estilo.css" rel="stylesheet">
</head>
<body>
    <h1><%= status %></h1>
    <p><%= titulo %></p>
    <p><%= resumo %></p>
    <p><%= conteudo %></p>
    <a href="/blog">Voltar para o blog</a>
</body>
</html>