<!DOCTYPE html>
<html>
    <head>
        <title>GET</title>
            <meta charset="UTF-8">
            <link href="LAB/LAB09/blog.css" rel="stylesheet">
    </head>
    <body> 
        <div class="flex-conteiner">
            <h1>Blog</h1>
        <h3><%= Titulo %></h3>
        <p>Resumo: <%= Resumo %></p>
        <p>conteudo: <%= Conteudo %></p>
        </div>
    </body>
</html>