<!DOCTYPE html>
<html>
    <head>
        <title>resposta</title>
        <meta charset="UTF-8">
        <link href="estilo.css" rel="stylesheet">
    </head>
    <body>
        <h1>Resposta</h1>
        <p>Nome: <%= Nome %></p>
        <p>Login: <%= Login %></p>
        <p>Senha: <%= Senha %></p>
        <p>Nascimento: <%= Nasc %></p>
    </body>
</html>